@import './variables.scss';
@import './null.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
  font-family: $fontFamily, sans-serif;
  background-color: #FDFDFD;
}

._container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
}